<div class="center padded with-bg">
    <h1>Something I built:</h1>
</div>
<div class="center with-bg">
    <div class="content alining">

        <div class="row">
            <div class="card third">
                <h3>Coincaex</h3>
                <p>A <I>responsive</I>  web page oriented to buy and sell cryptocurrency.</p>
                <h4 class="borders_first" style="--position: 15%;">JS</h4>
                <h4 class="wave_first" style="--position: 15%; --delay: 0">JS</h4>
                <a class="purple" href="https://www.coincaex.com/" target="_blank">Link</a>
            </div>
        </div>

        <div class="row">
            <div class="card third">
                <h3>Client management</h3>
                <p>App to manage clients.</p>
                <h4 class="borders_second" style="--position: 10%">Python</h4>
                <h4 class="wave_second" style="--position: 10%;--delay: 3">Python</h4>
                <a class="purple" href="{{ url_for( 'static', filename='Libreta-Clientes' ) }}">Download</a>
                <a class="purple" href="https://github.com/AlfaRojo/ToDo" target="_blank">Link</a>
            </div>
        </div>

        <div class="row">
            <div class="card third">
                <h3>Task manager</h3>
                <p>App to manage tasks.</p>
                <h4 class="borders_third" style="--position: 5%">Python</h4>
                <h4 class="wave_third" style="--position: 5%; --delay: 6">Python</h4>
                <a class="purple" href="{{ url_for('static', filename='Gestor-tareas' ) }}">Download</a>
                <a class="purple" href="https://github.com/AlfaRojo/ToDo" target="_blank">Link</a>
            </div>
        </div>

    </div>
</div>