<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>I develop applications and responsive web pages.</h1>
                <p>I'm Constantly learning new technologies and always developing my skills. This web is built from scratch with Python and Flask. I'm always looking for new ways to solve problems.</p>
            </div>
            <div class="right padded">
                <h1>We can talk!</h1>
                <p>Just send an email <a class="green" href="#contacto">by clicking here</a></p>
            </div>

        </div>
    </div>
</div>
