<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Now or never! Lets work together :D</h1>
                <p>I'll do my best to learn and go beyond!</p>
            </div>
            <div id="contacto" class="right padded">
                <form method="post" class="contact-form" action="{{ url_for('portfolio.mail') }}">
                    <input name="name" placeholder="Name" required>
                    <input name="email" placeholder="Email" type="email" required>
                    <textarea name="message" placeholder="Message" minlength=10 required></textarea>
                    <button class="btn full-width">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>